<select name='extras' onchange='window.location.href=this.options[this.selectedIndex].value;'>
<option selected value='#'>Actions</option>
<option value='rover.asp?action=eventCancel_Alarms&show=Living_Room$options$'>Cancel Alarms</option>
<option value='rover.asp?action=eventLR_On&show=Living_Room$options$'>LR On</option>
<option value='rover.asp?action=eventLR_Off&show=Living_Room$options$'>LR Off</option>
<option value='rover.asp?action=eventGoing_Out&show=Living_Room$options$'>Going Out</option>
<option value='rover.asp?action=eventArriving Home&show=Living_Room$options$'>Arriving Home</option>
<option value='rover.asp?action=eventArrived_Home&show=Living_Room$options$'>Arrived Home</option>
<option value='rover.asp?action=eventChristmas_On&show=Living_Room$options$'>Christmas On</option>
<option value='rover.asp?action=eventChristmas_Off&show=Living_Room$options$'>Christmas Off</option>
</select>
