<p align=center><a href="rover.asp?action=eventGo_To_Bed&show=Bedroom">Go To Bed</a> | <a href="rover.asp?action=eventGo_To_Sleep&show=Bedroom">Go To Sleep</a> | <a href="rover.asp?action=eventCancel_Alarms&show=Bedroom">Cancel Alarms</a></p>