<p align=center><a href="rover.asp?action=eventLR_On&show=Living_Room">LR On</a> | <a href="rover.asp?action=eventTV_Time&show=Living_Room">TV Time</a> | <a href="rover.asp?action=eventLR_Off&show=Living_Room">LR Off</a></p>