<p align=center><a href="rover.asp?action=eventLR_On&show=Living_Room">LR On</a> | <a href="rover.asp?action=eventLR_Off&show=Living_Room">LR Off</a><br>
<a href="rover.asp?action=eventGoing_Out&show=Living_Room">Going Out</a> | <a href="rover.asp?action=eventArriving Home&show=Living_Room">Arriving Home</a> | <a href="rover.asp?action=eventArrived_Home&show=Living_Room">Arrived Home</a><br><a href="rover.asp?action=eventChristmas_On&show=Living_Room">Christmas On</a> | <a href="rover.asp?action=eventChristmas_Off&show=Living_Room">Christmas Off</a></p>