<p align=center><a href="rover.asp?action=eventGo_To_Bed&show=Bedroom">Go To Bed</a> | <a href="rover.asp?action=eventBedroom_Off&show=Bedroom">Bedroom Off</a> | <a href="rover.asp?action=eventEverything_Off_Now&show=Bedroom">Everything Off</a><br>
Alarms: <a href="rover.asp?action=eventEnable_Alarms&show=Bedroom">Enable</a> | <a href="rover.asp?action=eventCancel_Alarms&show=Bedroom">Cancel</a></p>